jobs:
- job: 'TestLinux'
  pool:
    vmImage: 'ubuntu-16.04' # other options: 'macOS-10.13', 'vs2017-win2016'
  strategy:
    matrix:
      Python37:
        python.version: '3.7'
    maxParallel: 3

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(python.version)'
      architecture: 'x64'
  - script: sudo apt-get update
    displayName: 'AptGet Update'
  - script: sudo apt-get install -y pandoc
    displayName: 'Install Pandoc'
  - script: sudo apt-get install -y texlive texlive-latex-extra texlive-xetex dvipng
    displayName: 'Install Latex'
  - script: sudo apt-get install -y p7zip-full
    displayName: 'Install 7z, rar'
  - script: sudo apt-get install -y inkscape
    displayName: 'Install Inkscape'
  - script: sudo apt-get install -y graphviz
    displayName: 'Install Graphviz'
  - script: python -m pip install --upgrade pip setuptools wheel
    displayName: 'Install tools'
  - script: pip install -r requirements.txt
    displayName: 'Install Requirements'
  - script: python -u setup.py unittests
    displayName: 'Runs Unit Tests'
  - script: python -u setup.py bdist_wheel
    displayName: 'Build Package'
  - script: python -u setup.py build_sphinx
    displayName: 'Builds Documentation'
  - task: PublishPipelineArtifact@0
    inputs:
      artifactName: 'wheel-linux-$(python.version)'
      targetPath: 'dist'

- job: 'TestMac'
  pool:
    vmImage: 'macOS-10.13' # other options: 'ubuntu-16.04', 'vs2017-win2016'
  strategy:
    matrix:
      Python37:
        python.version: '3.7'
    maxParallel: 3

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(python.version)'
      architecture: 'x64'
  - script: curl -O https://distfiles.macports.org/MacPorts/MacPorts-2.5.4.tar.bz2
    displayName: 'Download macport'
  - script: |
          tar xf MacPorts-2.5.4.tar.bz2
          cd MacPorts-2.5.4/
          ./configure --enable-readline
          make
          sudo make install
          cd ..
          echo 'export PATH=/opt/local/bin:/opt/local/sbin:$PATH' >> ~/.profile
          source ~/.profile
          export PATH=/opt/local/bin:/opt/local/sbin:$PATH
  - script: sudo port install -y p7zip
    displayName: 'Install p7zip'
  - script: python -m pip install --upgrade pip setuptools wheel
    displayName: 'Install tools'
  - script: pip install -r requirements.txt
    displayName: 'Install Requirements'
  - script: python -m pip install scikit-learn
    displayName: 'Install scipy scikit-learn'
  - script: python -u setup.py unittests
    displayName: 'Runs Unit Tests'
  - script: python -u setup.py bdist_wheel
    displayName: 'Build Package'
  - task: PublishPipelineArtifact@0
    inputs:
      artifactName: 'wheel-mac-$(python.version)'
      targetPath: 'dist'
