autopep8
coverage
Cython
jupyter
jupyter_sphinx>=0.2.0
jyquickhelper
matplotlib
nbconvert>=6.0.3,!=6.3.0,!=6.4.0,!=6.5.0
numpy>=1.16
pandas>=1.0
pillow
pybind11<2.10.0
pycodestyle
pylint>=2.14.0
pyquickhelper>=1.11.3747
pyquicksetup
scipy
sphinx
sphinxcontrib.imagesvg
wheel
